{
  //  babel-loader 使用 babel 解析文件
  // @babel/core 是 babel 的核心模块

  // @babel/preset-env: 根据设置的目标浏览器环境（browserslist）找出所需的插件去转译 ES6+ 语法。比如 const 或 let 转译为 var 
  // @babel/preset-react 转译 jsx 语法

  "presets": [
    [
    "@babel/preset-env",
    {
      // 防止babel将任何模块类型都转译成CommonJS类型，导致tree-shaking失效问题
      // tree-shaking 是 webpack 内置的打包代码优化神器，
      // 在生产环境下，即 mode 设置为 production 时，打包后会将通过 ES6 语法 import 引入的未使用的代码去除。
      "modules": false
    }
  ], "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": {
          "version": 3,
          "proposals": true
        },
        "useESModules": true
      }
    ]
  ]
}